{% extends "base.html" %}
{% block title %}添加课程{% endblock%}
{% block content %}
<script type="text/javascript" src="/js/calendarDateInput.js" charset="utf-8"></script>
<div id="show_courses" style="width:590px;float:left;">
<table border="1px" width="530px">
	<tr>
		<th>名称</th><th>教学楼</th><th>教室</th><th>周</th><th>时间</th><th>星期</th>
	</tr>
{% ifequal courses.count 0 %}
	</table>
	<p>还没有添加课程</p>
{% else %}
	{% for c in courses%}
		<tr>
			<th>{{c.coursename}}</th><th>{{c.building.buildingname}}</th><th>{{c.classroom}}</th><th>{{c.start_week}}周至{{c.end_week}}周</th><th>{{c.start_time}}节至{{c.end_time}}节</th><th>{{c.weekdays}}</th>
		</tr>
	{% endfor%}
	</table>
{% endifequal %}
</div>
<div id="input" style="margin-left:640px!important; margin-left:640px; height:auto !important; height:auto;">
{% ifequal buildings.count 0 %}
	<p>请先添加教学楼</p>
{% else %}
<form action='/course/AddCourse' method='post'>
<pre>
<b>添加课程</b>
   	
名称:       <input type='text' name='name'/>

教学楼:     <select name='building'>
		   {% for b in buildings %}
			<option value='{{b.key}}'>{{b.buildingname}}</option>
		   {% endfor %}
		   </select>

教室:       		<input type='text' name='classroom'/>

开始周:		<input type='text' name='start_week'/> 

结束周:		<input type='text' name='end_week' /> 

开始时间:		<input type='text' name='start_time'/>

结束时间:		<input type='text' name='end_time'/>

星期:			<input type='text' name='weekdays'/>

	            <input type='submit' value='添加'/>
</pre>
</form> 
{% endifequal %}
</div>
{% endblock %}
